@import '../abstracts/variables';

.pagination--container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1rem 0;

    .pagination--icon {
        margin: 0 auto;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    .active {
        font-weight: 800;
        color: $secondary-color;
    }
}
