@import '../abstracts/variables';

.pagination--container {
    display: flex;
    justify-content: center;
    margin: 1rem;

    .pagination--icon {
        margin: 0 auto;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    .active {
        font-weight: 800;
        color: $secondary-color;
    }
}
