@keyframes stroke-animation {
    0% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    30% {
        stroke-dashoffset: 780;
        fill: rgb(255, 99, 99);
        stroke: rgb(255, 99, 99);
    }

    45% {
        stroke-dashoffset: 1170;
        fill: rgb(255, 80, 80);
        stroke: rgb(255, 80, 80);
    }

    60% {
        stroke-dashoffset: 1560;
        stroke: rgb(255, 55, 55);
        fill: rgb(255, 55, 55);
    }

    90% {
        stroke-dashoffset: 3120;
        fill: rgb(255, 31, 31);
        stroke: rgb(255, 31, 31);
    }
    100% {
        stroke-dashoffset: 3120;
        fill: rgb(255, 0, 0);
        stroke: rgb(255, 0, 0);
    }
}

@keyframes fade-animation {
    0% {
        fill: transparent;
        transform: scale(1);
        opacity: 1;
    }

    50% {
        fill: rgb(255, 0, 0);
        transform: scale(1);
        opacity: 0.4;
    }

    75% {
        fill: rgb(255, 0, 0);
        transform: scale(1.1);
        opacity: 0.7;
    }

    100% {
        fill: rgb(255, 0, 0);
        transform: scale(1);
        opacity: 1;
    }
}
