@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import './variables';

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}
body {
    @include theme($lightBackgroundTheme, $lightTextTheme);
    transition: $transitionThemeMode;
    min-height: $page-height;
    height: $page-height;
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
