// Viewport
$phone-viewport: 599px;
$tablet-portrait-viewport: 600px;
$tablet-landscape-viewport: 900px;
$desktop-viewport: 1200px;

// Global
$page-height: 100vh;
$transitionThemeMode: color 0.3s ease-in-out, background-color 0.5s ease-in-out;

// Colors
$primary-color: rgb(0, 128, 128);
$secondary-color: rgb(175, 0, 175);
$tertiary-color: rgb(26, 26, 26);

$error: rgb(225, 12, 12);

// DarkTheme
$darkBackgroundTheme: rgb(30 41 59);
$darkTextTheme: rgb(251, 252, 254);

// LightTheme
$lightBackgroundTheme: rgb(232, 232, 232);
$lightTextTheme: rgb(3 7 18);
