// Global
$transitionThemeMode: color 0.3s ease-in-out, background-color 0.5s ease-in-out;

// DarkTheme
$darkBackgroundTheme: rgb(30 41 59);
$darkTextTheme: rgb(243 244 246);

// LightTheme
$lightBackgroundTheme: rgb(241 245 249);
$lightTextTheme: rgb(3 7 18);
